{% load static %}
{% load goods_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        {% block header %}
        {% endblock %}
    </div>
    <div class="sidebar">
        <div class="sideleft">
            {% tag_categorys as categorys %}
            {% for c in categorys %}
                <a href="">{{c.name}}</a>
            {% endfor %}
            
            {% block sideleft %}
            {% endblock %}
        </div>
        <div class="sidecenter">
            base
            {% block sidecenter %}
            {% endblock %}
        </div>
        <div class="sideright">
            {% block sideright %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>